body{
margin:0;
font-family:Arial;
display:flex;
}

/* Sidebar */

.sidebar{
width:220px;
background:#2c3e50;
color:white;
height:100vh;
padding:20px;
}

.profile{
width:70px;
height:70px;
border-radius:50%;
display:block;
margin:auto;
}

.sidebar h3{
text-align:center;
}

.status{
text-align:center;
color:#2ecc71;
font-size:12px;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
margin:15px 0;
}

.sidebar a:hover{
background:#34495e;
}

/* Main Dashboard */

.main{
flex:1;
padding:40px;
background:#f4f4f4;
}

/* Cards */

.cards{
display:flex;
gap:20px;
}

.card{
padding:30px;
color:white;
border-radius:5px;
width:200px;
}

.blue{
background:#00a8cc;
}

.green{
background:#27ae60;
}

/* Navigation bar */

.navbar{
background:#333;
padding:15px;
text-align:center;
}

.navbar a{
color:white;
margin:0 20px;
text-decoration:none;
}

/* Forms */

.container{
width:70%;
margin:40px auto;
}

input{
width:100%;
padding:10px;
margin:8px 0;
border:1px solid #ccc;
}

/* Tables */

table{
width:100%;
border-collapse:collapse;
}

th,td{
border:1px solid #ccc;
padding:10px;
}

th{
background:#333;
color:white;
}

/* Buttons */

button{
padding:6px 10px;
border:none;
cursor:pointer;
}

.details{
background:#17a2b8;
color:white;
}

.edit{
background:#ffc107;
}

.delete{
background:#dc3545;
color:white;
}

.submit-btn{
background:#28a745;
color:white;
width:100%;
padding:10px;
}